<h1>About</h1>
<p>This a Node/Express app for writting ideas for future Projects</p>
<p>Version: 1.0.0</p>

<h4>Developer:</h4>
<p>Shailendra Yadav</p>
<p>BVCEC-B.Tech-CSE</p>
<p>Gopigunj,Partappur-1, Nawalparasi, Nepal</p>